#main-quizz-container{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

#quizz-container{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px 10px 75px;
    transition: all 0.3s ease-in-out;
    width: 250px;
    height: 250px;
    gap: 15px;
}
#quizz-container img{
    width: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#quizz-container p{
    font-weight: 600;
}
#quizz-container a{
    padding-bottom: auto;
}

#quizz-container:hover{
transform: scale(1.05);
}
